.carousel
    padding: 81px 0
    &__inner
        position: relative
        width: 750px
        margin: 0 auto
        // div
        //     display: flex
        //     justify-content: center
        //     align-items: center
        //     img
        //         width: 750px
.owl-carousel
    .owl-item
        display: flex
        justify-content: center
        align-items: center
        img
            display: block
            width: 100%
    .owl-prev, .owl-next
        position: absolute
        border: none
        background-color: #ffffff00
        [class*="owl-"]
            background: none
            border: none
            outline: none



    .tns-item
        img
            display: block
            margin: auto
